@model EntityLayer.Concrete.Annoncoument
@{
    ViewData["Title"] = "AnnouncementDetails";
    Layout = "~/Areas/Writer/Views/Shared/_WriterLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Duyuru Detayları</h4>
            <form class="forms-sample">
                <div class="form-group">
                    <label>ID</label>
                    <input type="text" class="form-control" value="@Model.ID" disabled>
                </div>
                <div class="form-group">
                    <label>Başlık</label>
                    <input type="text" class="form-control" value="@Model.Title" disabled>
                </div>
                <div class="form-group">
                    <label>Tarih</label>
                    <input type="text" class="form-control" value="@Model.Date.ToShortDateString()" disabled>
                </div>
                <div class="form-group">
                    <label>İçerik</label>
                    <textarea class="form-control" rows="10" disabled>@Model.Content</textarea>
                </div>
                <a href="/Writer/Default/Index" class="btn btn-primary mr-2">Geri Dön</a>
            </form>
        </div>
    </div>
</div>
