@using EntityLayer.Concrete
@model List<Annoncoument>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Writer/Views/Shared/_WriterLayout.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Duyurular</h4>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Başlık</th>
                            <th>Tarih</th>
                            <th>Durum</th>
                            <th>Detaylar</th>
                            <th>Sil</th>
                            <th>Güncelle</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th>@item.ID</th>
                                <td>@item.Title</td>
                                <td>@item.Date.ToShortDateString()</td>
                                <td><label class="badge badge-success">@item.Status</label></td>
                                <td><a href="/Writer/Default/AnnouncementDetails/@item.ID"
                                        class="btn btn-outline-primary">Detaylar</a></td>
                                <td><a href="/Writer/Default/DeleteAnnouncement/@item.ID"
                                        class="btn btn-outline-danger">Sil</a></td>
                                <td><a href="/Writer/Default/EditAnnouncement/@item.ID"
                                        class="btn btn-outline-warning">Güncelle</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
                <br />
                <a href="/Writer/Default/AddAnnouncement/" class="btn btn-primary">Yeni Duyuru Ekle</a>
            </div>
        </div>
    </div>
</div>
