@model EntityLayer.Concrete.Feature
@{
    ViewData["Title"] = "AddFeature";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="card-header border-0">
    <h3 class="mb-0">Öne Çıkan Ekleme Sayfası</h3>
</div>

@using (Html.BeginForm("AddFeature", "Feature", FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-description"> Yeni Öne Çıkan Ekleme Paneli </p>
                <form class="forms-sample">
                    <div class="form-group">
                        <label>Başlık</label>
                        <input type="text" class="form-control" name="Header" placeholder="Başlık (Örn: Merhaba, Ben)">
                    </div>
                    <div class="form-group">
                        <label>İsim</label>
                        <input type="text" class="form-control" name="Name" placeholder="Ad Soyad">
                    </div>
                    <div class="form-group">
                        <label>Unvan</label>
                        <input type="text" class="form-control" name="Title"
                            placeholder="Unvan (Örn: Full Stack Developer)">
                    </div>

                    <button type="submit" class="btn btn-primary mr-2">Kaydet</button>
                    <button class="btn btn-dark"> İptal </button>
                </form>
            </div>
        </div>
    </div>
}
