@model EntityLayer.Concrete.WriterMessage
@{
    ViewData["Title"] = "AdminMessageSend";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Yeni Mesaj Gönderme Paneli</h4>
            <br />
            <form class="forms-sample" method="post">
                <div class="form-group">
                    <label>Konu</label>
                    <input type="text" class="form-control" name="Subject" placeholder="Konu">
                </div>
                <div class="form-group">
                    <label>Alıcı</label>
                    <input type="text" class="form-control" name="Receiver" placeholder="Alıcı Email">
                </div>
                <div class="form-group">
                    <label>Mesaj İçeriği</label>
                    <textarea class="form-control" name="MessageContent" rows="6" placeholder="Mesajınız"></textarea>
                </div>
                <button type="submit" class="btn btn-primary mr-2">Gönder</button>
            </form>
        </div>
    </div>
</div>
