@model EntityLayer.Concrete.WriterMessage
@{
    ViewData["Title"] = "ReceiverMessageDetails";
    Layout = "~/Areas/Writer/Views/Shared/_WriterLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Mesaj Detayları</h4>
            <form class="forms-sample">
                <div class="form-group">
                    <label>Gönderen Adı</label>
                    <input type="text" class="form-control" value="@Model.SenderName" disabled>
                </div>
                <div class="form-group">
                    <label>Gönderen Email</label>
                    <input type="text" class="form-control" value="@Model.Sender" disabled>
                </div>
                <div class="form-group">
                    <label>Konu</label>
                    <input type="text" class="form-control" value="@Model.Subject" disabled>
                </div>
                <div class="form-group">
                    <label>İçerik</label>
                    <textarea class="form-control" rows="10" disabled>@Model.MessageContent</textarea>
                </div>
                <a href="/Writer/Message/ReceiverMessage" class="btn btn-primary mr-2">Geri Dön</a>
            </form>
        </div>
    </div>
</div>
