@using Microsoft.AspNetCore.Mvc.Rendering
@model EntityLayer.Concrete.WriterMessage
@{
    ViewData["Title"] = "SendMessage";
    Layout = "~/Areas/Writer/Views/Shared/_WriterLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Yeni Mesaj Gönderme Paneli</h4>
            <form class="forms-sample" method="post">
                <div class="form-group">
                    <div class="form-group">
                        <label>Alıcı Seçimi</label>
                        @Html.DropDownListFor(x => x.Receiver, (List<SelectListItem>)ViewBag.Recipients, new
                            {
                                @class =
                                 "form-control"
                            })
                    </div>
                    <div class="form-group">
                        <label>Konu</label>
                        <input type="text" class="form-control" name="Subject" placeholder="Konu">
                    </div>
                    <div class="form-group">
                        <label>Mesaj İçeriği</label>
                        <textarea class="form-control" name="MessageContent" rows="10"
                            placeholder="Mesajınız"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Gönder</button>
                    <button class="btn btn-light">İptal</button>
            </form>
        </div>
    </div>
</div>
